@use 'sizes';

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-variation-settings: normal
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility
}
