# pnpm
prefer-workspace-packages=true
auto-install-peers=true
save-exact=true

# https://r1ch.net/blog/node-v20-aggregateeerror-etimedout-happy-eyeballs
node-options=--no-network-family-autoselection
