openapi: 3.1.0

info:
  title: Todos
  version: '1.0'

tags:
  - name: todos
    description: Список задач

paths:
  /todos:
    get:
      tags:
        - todos
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: number
        - name: limit
          in: query
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Get todos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TodoItem'
                  total:
                    type: number
                required:
                  - data
                  - total
        '400':
          $ref: './api.yaml#/components/responses/BadRequest'
    post:
      tags:
        - todos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TodoItem'
      responses:
        '200':
          description: Create todo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoItem'
        '400':
          $ref: './api.yaml#/components/responses/BadRequest'

components:
  schemas:
    TodoItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        title:
          type: string
          maxLength: 200
        status:
          $ref: '#/components/schemas/TodoStatus'
      required:
        - id
        - title
        - status

    TodoStatus:
      type: string
      enum:
        - Active
        - Cancelled
        - Paused
        - Completed
